{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="container my-5">
  <h1 class="mb-4">Toutes nos propriétés</h1>
  <div class="row g-4">
    {% for biens in bien %}
    <div class="col-md-4">
      <div class="card shadow-sm">
        <img src="{% static 'images/' %}{{ bien.image }}" class="card-img-top">
        <div class="card-body">
          <h5>{{ bien.titre }} <span class="badge bg-success">Vente</span></h5>
          <p>{{ bien.prix }} • {{ bien.details }}</p>
          <a href="{% url 'detail' bien.id %}" class="btn btn-primary btn-sm">Voir détails</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}